# Auth0 SDK v4 환경 변수
AUTH0_SECRET='use [openssl rand -hex 32] to generate a 32 bytes value'
APP_BASE_URL='http://localhost:3000'
AUTH0_DOMAIN='<Auth0의 Domain (예: your-tenant.auth0.com)>'
AUTH0_CLIENT_ID='<Auth0의 Client ID>'
AUTH0_CLIENT_SECRET='<Auth0의 Client Secret>'
